body {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.LandingPage {
  width: 100%; /* 너비를 화면 너비에 맞추기 위해 백분율로 설정 */
  height: 100vh; /* 높이를 화면 높이에 맞추기 위해 뷰포트 높이(100vh)로 설정 */
  overflow: hidden; /* 수평 스크롤 막기 */
  background: linear-gradient(180deg, #FFF 0%, #D9FDFF 100%); /* 그라데이션 배경 추가 */
}

.Header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0 20px;
}

.Logo {
  width: 200px; /* 로고 이미지의 가로 크기를 지정 (원본 크기) */
  height: 100%;
  background-position: center;
}

.SearchBox {
  position: relative;
  width: 450px;
  height: 200px;
  left: 50px;
  top: 110px;
  display: flex;
  flex-direction: column; /* 수직 방향으로 정렬 */
  align-items: flex-start; /* 좌측 정렬 */
  padding-top: 20px;
}


.SearchTextInput {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background-color: #e3e6f0;
  padding: 0 10px;

}

.InputContainer:first-child .SearchTextInput {
  top: 20px;
}

/* 두 번째 input에 대한 스타일 */
.InputContainer:nth-child(2) .SearchTextInput {
  top: 75px;
}

.SearchButton {
  width: 80px;
  height: 100px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  bottom: 100px; 
}


.autocomplete {
  position: absolute;
  width: 300px;
  left: 2px;
  z-index: 1; 
  max-height: 100px; 
  overflow-y: auto; 
  background-color: white;
}


.autocomplete > div:first-child {
  top: 45px;
}

.autocomplete > div:nth-child(2) {
  top: 75px;
}


.autocomplete.showButton .SearchButton {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
  margin-left: auto;
}

.autocomplete.hideButton .SearchButton {
  display: none;
}

.autocompleteItem {
  width: 100px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 0 0.5px gray;
  margin-bottom: 2px;
}

.autocomplete .autocompleteItem.active {
  background-color: lightgray;
}


/* 라벨에 대한 스타일 */
label[for="appt-time"] {
  position: absolute;
  top: 130px;
}

/* 입력 요소에 대한 스타일 */
#appt-time {
  position: absolute;
  top: 130px;
  left: 120px;
}




/*경고창 관련*/
.ErrorMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000; /* Ensure it appears above other elements */
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
/* 로딩 */
.Loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1000; /* Ensure it appears above other elements */
}


/*---------------------------Left Container----------------------------------- */

.LeftContainer {
  width: 500px;
  max-width: 90%;
  height: 900px;
  position: absolute;
  top: 300px;
  left: 0;
}

.RouteDetailComponent {
  width: 400px;
  max-width: 70%;
  height: 500px; 
  position: absolute;
  top: 200px;
  left: 70px;
  overflow-y: auto; /* 세로 스크롤 추가 */
  background: white; /* 배경색 추가 (선택 사항) */
  padding: 10px; /* 패딩 추가 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ordered-nav {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.ordered-nav::before {
  /* Vertical line that connects all of the pages listed in the ordered nav */
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 8px;
  bottom: 16px;
  width: 3px;
  background-color: #27A4FC;
}

.ordered-nav--link {
  padding-left: 1.5rem;
  margin: 0.75rem 0;
  position: relative;
  border-radius: 10px;
}

.ordered-nav--link::before {
  /* 왼쪽의 원*/
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  width: 9px;
  height: 9px;
  background-color: white;
  border-color: #27A4FC;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.ordered-nav--link:first-child {
  margin-top: 0;
}


.ordered-nav--link:last-child {
  margin-bottom: 0;
}
.ordered-nav--link:first-child .tx-link{
  color: rgb(53, 25, 236);
}
.ordered-nav--link:last-child .tx-link{
  color: rgb(236, 25, 25);
}

.ordered-nav--link__active .tx-link {
  color: white;
}

.ordered-nav--link__active::before {
  background-color: #27A4FC;
}

.tx-link {
  font-family: 'Ubuntu', sans-serif;
  color: #8ebdd1;
  font-size:24px;
}

.ordered-nav--link:hover {
  background-color: #e3f02a; /* Change background color on hover */
}

/*--------------------------------------------------- mapcontainer ---------------------------------------------------*/
.MapContainer {
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  width: 100%; /* 부모 요소에 맞게 너비 조절 */
  height: 100vh; /* 뷰포트의 높이에 맞게 조절 */
}


#myMap {
  max-width: 100%;
  width: 1000px; /* 초기 너비 지정 */
  height: 1000px; /* 초기 높이 지정 */
  border-radius: 20px;
  margin-left: 500px;
  padding: 10px;
  margin-top: -90px;
}

@media (min-width: 1001px) {
  #myMap {
    width: 1000px; /* 중간 크기에서의 너비 */
    height: 1000px; /* 중간 크기에서의 높이 */
  }
}

@media (min-width: 2001px) {
  #myMap {
    width: 2000px; /* 큰 크기에서의 너비 */
    height: 1000px; /* 큰 크기에서의 높이 */
  }
}
@media (min-width: 3001px) {
  #myMap {
    width: 3000px; /* 큰 크기에서의 너비 */
    height: 1000px; /* 큰 크기에서의 높이 */
  }
}



.customoverlay {
  display: block;
  background: #50697f;
  color: #fff;
  height: 28px;
  line-height:25px;
  border-radius:4px;
  padding:0px 10px;
  font-family: '고딕체', sans-serif;
  font-size:20px;
}
