.LandingPage {
  width: 100%; /* 너비를 화면 너비에 맞추기 위해 백분율로 설정 */
  height: 100vh; /* 높이를 화면 높이에 맞추기 위해 뷰포트 높이(100vh)로 설정 */
  overflow-x: hidden; /* 수평 스크롤 막기 */
  background: linear-gradient(180deg, #FFF 0%, #D9FDFF 100%); /* 그라데이션 배경 추가 */
}


.Header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0 20px;
}

.Logo {
  width: 200px; /* 로고 이미지의 가로 크기를 지정 (원본 크기) */
  height: 100%;
  background-image: url('../images/Fossil.png');
  background-position: center;
}




.SearchBox {
  position: relative;
  width: 450px;
  height: 200px;
  left: 20px;
  top: 100px;
  display: flex;
  flex-direction: column; /* 수직 방향으로 정렬 */
  align-items: flex-start; /* 좌측 정렬 */
  padding-top: 20px;
}

.SearchTextInput {
  width: 80%; /* 변경 */
  height: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #BFB9B6;
  padding: 0 10px;
}

.SearchButton {
  width: 80px;
  height: 100px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
  position: absolute; /* 절대 위치 설정 */
  right: 0; /* 오른쪽에 위치 */
  bottom: 100px; /* 아래에 위치 */
}


.autocomplete {
  position: absolute; /* 절대 위치 지정 */
  z-index: 1; /* 다른 요소 위로 올라오도록 설정 */
  background-color: #ACE2E1; /* 배경색 설정 */
  max-height: 100px; /* 최대 높이 지정 */
  overflow-y: auto; /* 수직 스크롤바 표시 */
  width: 80%; /* 너비 80% 설정 */
}

/* mapcontainer */
#myMap {
  position: absolute;
  width: 900px;
  height: 824px;
  top: 110px;
  left: 650px;
  border-radius: 20px;
}

/* LeftContainer */
.LeftContainer {
  width: 450px;
  max-width: 90%; /* 최대 너비를 화면의 90%로 설정 */
  height: calc(100vh - 250px); /* 화면 높이에서 헤더와 SearchBox의 높이를 뺀 값 */
  position: absolute;
  top: 250px; /* SearchBox 아래에서 130px 떨어진 위치에 배치 */
  left: 0;
  background: #d9dbe3;
}







.customoverlay {
  display: block;
  background: #50627F;
  color: #fff;
  text-align: center;
  height: 28px;
  line-height:22px;
  border-radius:4px;
  padding:0px 10px;
  font-family: '고딕체', sans-serif;
  font-size:24px;
}


.RouteDetailComponent {
  width: 300px;
  max-width: 60%; /* 최대 너비를 화면의 60%로 설정 */
  height: auto; /* 내용에 맞게 높이 자동 조절 */
  position: absolute;
  top: 120px; /* 헤더 아래에서 20px 떨어진 위치에 배치 */
  left: calc(50% - 150px); /* 가운데 정렬 */
  background: #d95513;
}

.RouteDetailComponent li {
  border: 1px solid black;
  background-color: royalblue;
}

.autocomplete {
  background-color: white;
  max-height: 100px;
  overflow-y: auto;
  position: relative;
}

.autocomplete.showButton .SearchButton {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
  margin-left: auto;
}

.autocomplete.hideButton .SearchButton {
  display: none;
}

.autocomplete .autocompleteItem {
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 0 0.5px gray;
  margin-bottom: 2px;
}

.autocomplete .autocompleteItem.active {
  background-color: lightblue;
}