body { min-height: 100vh; }

.LandingPage{
  width: 1440;
  height: 1024;
  overflow-x: hidden;
}

.Header {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #005556;
}


.SearchBox {
  position: absolute;
  width: 450px;
  height: 150px;
  left: 20px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the left */
}

.SearchTextInput {
  width: calc(100% - 150px); /* Calculate width to include padding */
  height: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  
  line-height: 38px;
  color: #BFB9B6;
  left: 10px;
}

.SearchButton {
  position: absolute;
  width: 80px;
  height: 100px;
  right: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
}

/* mapcontainer */
#myMap {
  position: absolute;
  width: 1200px;
  height: 924px;
  top: 100px;
  left: 450px;
}

/* LeftContainer */
.LeftContainer {
  position: absolute;
  width: 450px;
  height: 924px;
  left: 0px;
  top: 250px;
  bottom: 0px;
  background: #d9dbe3;
}

/* route_detail */
.RouteDetailComponent {
  position: absolute;
  width: 300px;
  height: 924px;
  left: 450px;
  top: 100px;
  background: #d95513;

}
/* 로고 or 브랜드명 임시 */
.Logo{
  position: absolute;
  width: 200px;
  height: 60px;
  left: 30px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  background: royalblue;
}





.customoverlay {
  display: block;
  background: #50627F;
  color: #fff;
  text-align: center;
  height: 24px;
  line-height:22px;
  border-radius:4px;
  padding:0px 10px;
}

.RouteDetailComponent {
  background-color: lightblue;
  text-align: center;
  z-index: 3;
}

.RouteDetailComponent li {
  border: 1px solid black;
  background-color: royalblue;
}
