*{
  padding-left: 25px; 
  padding-right: 25px; 
}
.LandingPage{
  width: 1440;
  height: 1024;
  overflow-x: hidden;
}

.Header {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #005556;
}


.SearchBox {
  position: absolute;
  width: 450px;
  height: 150px;
  left: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the left */
}

.SearchTextInput {
  width: calc(100% - 150px); /* Calculate width to include padding */
  height: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #BFB9B6;
}

.SearchButton {
  position: absolute;
  width: 80px;
  height: 90px;
  right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  background: #ACE2E1;
  border-radius: 10px;
}

/* mapcontainer */
#myMap {
  position: absolute;
  width: calc(100% - 150px);
  height: 924px;
  top: 100px;
  left: 500px;
}

/* LeftContainer */
.LeftContainer {
  position: absolute;
  width: 450px;
  height: 924px;
  left: 0px;
  top: 250px;
  bottom: 0px;
  background: #d9dbe3;
}

/* route_detail */
.RouteDetail {
  position: absolute;
  width: 300px;
  height: 924px;
  left: 450px;
  top: 100px;
  background: #d95513;

}






/* 로고 or 브랜드명 임시 */
.Logo{
  position: absolute;
  width: 236px;
  height: 38px;
  left: 82px;
  top: 31px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
